#video2 {
  width: 100%;
  height: auto;
} /* This has been changed */
#videoMessage2 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
#nav {
  background-color: #00000000;
}

@media (max-width: 400px) {
  #home {
    width: 100%;
    margin: auto;
    display: block;
    position: relative;
  }
}

@media (min-width: 400px) {
  #home {
    width: 100%;
    margin: auto;
    display: block;
    position: relative;
    top: -75px;
  }
}
